/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #010e54;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 50px;
}

.backgroundgamescenefixed {
  position: fixed;
  top: 0;
  height: 1665px;
  width: 100%;
  background-image: url(./../../images/backgroundgamescenedivfixed.gif);
  z-index: -1;
  opacity: 20%;
  background-size: contain;
}

.logo {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo .logophoto {
  width: 400px;
  width: 15%;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.flexform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 650px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexform .registrationtittle {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}
.flexform form {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexform form #genderid {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.flexform form button {
  width: 80%;
  height: 50px;
  border-radius: 15px;
  background-color: #102dd3;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Jersey 15", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
}
.flexform form button:hover {
  background-color: #334ff0;
}
.flexform form button:active {
  background-color: #001381;
}
.flexform form input::-webkit-input-placeholder {
  color: rgb(174, 174, 190);
  font-weight: 100;
}
.flexform form input::-moz-placeholder {
  color: rgb(174, 174, 190);
  font-weight: 100;
}
.flexform form input:-ms-input-placeholder {
  color: rgb(174, 174, 190);
  font-weight: 100;
}
.flexform form input::-ms-input-placeholder {
  color: rgb(174, 174, 190);
  font-weight: 100;
}
.flexform form input::placeholder {
  color: rgb(174, 174, 190);
  font-weight: 100;
}
.flexform form input {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  margin-bottom: 20px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.flexform form h1 {
  margin-top: 20px;
  color: white;
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 25px;
}
.flexform form a {
  color: rgb(0, 217, 255);
  font-weight: 400;
  text-decoration: none;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  20% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  40% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  20% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  40% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}