* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #010e54;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.backgroundgamescenefixed {
  position: fixed;
  top: 0;
  height: 1665px;
  width: 100%;
  background-image: url(./../images/backgroundgamescenedivfixed.gif);
  z-index: -1;
  opacity: 20%;
  background-size: contain;
}

header {
  display: flex;
  position: fixed;
  height: 380px;
  width: 100%;
  top: -280px;
  z-index: 1;
  transition: 0.7s;
}
header:hover {
  top: 0px;
  height: 150px;
}
header .headeritself {
  height: 150px;
  width: 100%;
  background-color: #1454dd;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  box-shadow: 0px 24px 17px 29px rgba(0, 7, 36, 0.69);
  -webkit-box-shadow: 0px 24px 17px 29px rgba(0, 7, 36, 0.69);
  -moz-box-shadow: 0px 24px 17px 29px rgba(0, 7, 36, 0.69);
}
header .headeritself .hlogo {
  display: flex;
  width: 90px;
  height: 82px;
  margin-top: 22px;
  transition: 0.5s;
}
header .headeritself .hlogo:hover {
  transform: scale(1.2);
}
header .headeritself .Reglogdiv {
  margin-left: 50px;
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-top: 40px;
}
header .headeritself .Reglogdiv i {
  display: none;
  transition: 0.5s;
}
header .headeritself .Reglogdiv i:hover {
  transform: scale(1.2);
}
header .headeritself .Reglogdiv .reglog {
  font-size: 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  transition: 0.3s;
}
header .headeritself .Reglogdiv .reglog:hover {
  transform: scale(1.2);
}
header .headeritself .Menubar {
  margin-top: 40px;
  display: none;
}
header .headeritself .Menubar:hover {
  transform: scale(1.2);
}
header .headeritself nav {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-top: 40px;
}
header .headeritself nav a {
  font-size: 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  transition: 0.3s;
}
header .headeritself nav a:hover {
  transform: scale(1.2);
}
header .headeritself nav #onthispage {
  color: rgb(0, 255, 255);
}

.logo {
  margin-top: 155px;
  display: flex;
  justify-content: center;
  margin-bottom: 239px;
}
.logo .logophoto {
  width: 400px;
  width: 20%;
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
form .searchgame {
  width: 40%;
  height: 50px;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  box-sizing: border-box;
}
form button {
  width: 20%;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #102dd3;
  color: white;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
form button:hover {
  background-color: #334ff0;
}
form button:active {
  background-color: #001381;
}

main .tittle {
  display: flex;
  justify-content: center;
}
main .tittle .topratgmsTittle {
  font-size: 60px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  font-weight: 100;
  margin-bottom: 40px;
}
main .topgames {
  display: flex;
  justify-content: space-around;
  background-color: #1454dd;
  padding: 70px 0px;
  margin-bottom: 180px;
  box-shadow: -1px 44px 75px 18px rgba(0, 7, 36, 0.58);
  -webkit-box-shadow: -1px 44px 75px 18px rgba(0, 7, 36, 0.58);
  -moz-box-shadow: -1px 44px 75px 18px rgba(0, 7, 36, 0.58);
}
main .topgames .topratedgame {
  width: 290px;
  height: 400px;
  background-size: cover;
  transition: 0.5s;
}
main .topgames .topratedgame:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 0px 28px rgba(255, 255, 255, 0.86);
  -webkit-box-shadow: 0px 0px 0px 28px rgba(255, 255, 255, 0.86);
  -moz-box-shadow: 0px 0px 0px 28px rgba(255, 255, 255, 0.86);
}
main .topgames .topratedgame:active {
  transform: scale(0.7);
}
main .topgames #Game1 {
  background-image: url(./../images/mariogamethumbnail.jpg);
}
main .topgames #Game2 {
  background-image: url(./../images/mariobrosgame3thumbnail.png);
}
main .topgames #Game3 {
  background-image: url(./../images/nfsunbound.png);
}
main .topgames #Game4 {
  background-image: url(./../images/pacmangame.png);
}
main .smalltittle {
  display: flex;
  justify-content: center;
}
main .smalltittle .smalltittleh1 {
  font-size: 90px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 40px;
}
main .gamesection {
  margin-top: 10px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}
main .gamesection .game {
  width: 290px;
  height: 400px;
  background-size: cover;
  transition: 0.5s;
  opacity: 80%;
}
main .gamesection .game:hover {
  transform: scale(1.1);
  opacity: 100%;
  box-shadow: 0px 0px 0px 28px rgba(255, 255, 255, 0.86);
  -webkit-box-shadow: 0px 0px 0px 28px rgba(255, 255, 255, 0.86);
  -moz-box-shadow: 0px 0px 0px 28px rgba(255, 255, 255, 0.86);
}
main .gamesection .game:active {
  transform: scale(0.7);
}
main .gamesection #actiongame1 {
  background-image: url(./../images/actiongame1.png);
}
main .gamesection #actiongame2 {
  background-image: url(./../images/actiongame2.png);
  background-position: center;
}
main .gamesection #actiongame3 {
  background-image: url(./../images/actiongame3.png);
  background-position: center;
}
main .gamesection #actionnone {
  background-image: url(./../images/actiongame4.png);
  background-position: center;
}
main .gamesection #racegame1 {
  background-image: url(./../images/racinggame1.png);
  background-position: center;
}
main .gamesection #racegame2 {
  background-image: url(./../images/racinggame2.png);
  background-position: center;
}
main .gamesection #racegame3 {
  background-image: url(./../images/nfsunbound.png);
}
main .gamesection #racingnone {
  background-image: url(./../images/racinggame3.png);
  background-position: right;
}
main .gamesection #multiplayergame1 {
  background-image: url(./../images/mariogamethumbnail.jpg);
  background-position: center;
}
main .gamesection #multiplayergame2 {
  background-image: url(./../images/mariobrosgame3thumbnail.png);
  background-position: center;
}
main .gamesection #multiplayergame3 {
  background-image: url(./../images/multiplayergame1.png);
}
main .gamesection #multiplayernone {
  background-image: url(./../images/multiplayergame2.png);
  background-position: right;
}
main .gamesection #adventuregame1 {
  background-image: url(./../images/actiongame3.png);
  background-position: center;
}
main .gamesection #adventuregame2 {
  background-image: url(./../images/actiongame4.png);
  background-position: center;
}
main .gamesection #adventuregame3 {
  background-image: url(./../images/multiplayergame1.png);
}
main .gamesection #sportnone {
  background-image: url(./../images/cargame1.png);
  background-position: center;
}

.TBC {
  background-color: #010025;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  box-shadow: -1px 44px 75px 18px rgba(0, 7, 36, 0.58);
  -webkit-box-shadow: -1px 44px 75px 18px rgba(0, 7, 36, 0.58);
  -moz-box-shadow: -1px 44px 75px 18px rgba(0, 7, 36, 0.58);
}
.TBC .tbcphoto {
  width: 310px;
  transition: 0.4s;
}
.TBC .tbcphoto:hover {
  scale: 1.2;
}
.TBC .tbcphoto:active {
  transform: scale(0.4);
}

footer {
  display: flex;
  height: 250px;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: white;
  font-size: 45px;
  letter-spacing: 12px;
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  font-weight: 100;
  text-decoration: none;
}
footer .line {
  width: 5px;
  height: 90px;
  background-color: white;
  box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
}

@keyframes logo {
  0% {
    transform: scaleX(1);
  }
  20% {
    transform: scaleX(-1);
  }
  40% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
@media screen and (min-device-width: 1225px) and (max-device-width: 1440px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    margin-left: 50px;
    display: flex;
    width: 156px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself nav {
    display: flex;
    width: 800px;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  main .tittle {
    display: flex;
    justify-content: center;
  }
  main .tittle .topratgmsTittle {
    font-size: 90px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-bottom: 40px;
  }
  main .topgames {
    display: flex;
    justify-content: space-around;
    background-color: #1454dd;
    padding: 70px 0px;
    margin-bottom: 180px;
  }
  main .topgames .topratedgame {
    width: 200px;
    height: 300px;
    background-size: cover;
    transition: 0.5s;
  }
  main .topgames .topratedgame:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  main .topgames #Game1 {
    background-image: url(./../images/mariogamethumbnail.jpg);
  }
  main .topgames #Game2 {
    background-image: url(./../images/mariobrosgame3thumbnail.png);
  }
  main .topgames #Game3 {
    background-image: url(./../images/nfsunbound.png);
  }
  main .topgames #Game4 {
    background-image: url(./../images/pacmangame.png);
  }
  main .smalltittle {
    display: flex;
    justify-content: center;
  }
  main .smalltittle .smalltittleh1 {
    font-size: 70px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  main .gamesection {
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: space-around;
  }
  main .gamesection .game {
    width: 200px;
    height: 300px;
    background-image: url(./../images/mariogamethumbnail.jpg);
    background-size: cover;
    transition: 0.5s;
  }
  main .gamesection .game:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1224px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    margin-left: 50px;
    display: flex;
    width: 156px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  main .tittle {
    display: flex;
    justify-content: center;
  }
  main .tittle .topratgmsTittle {
    font-size: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-bottom: 40px;
  }
  main .topgames {
    display: flex;
    justify-content: space-around;
    background-color: #1454dd;
    padding: 70px 0px;
    margin-bottom: 180px;
  }
  main .topgames .topratedgame {
    width: 150px;
    height: 250px;
    background-size: cover;
    transition: 0.5s;
  }
  main .topgames .topratedgame:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  main .topgames #Game1 {
    background-image: url(./../images/mariogamethumbnail.jpg);
  }
  main .topgames #Game2 {
    background-image: url(./../images/mariobrosgame3thumbnail.png);
  }
  main .topgames #Game3 {
    background-image: url(./../images/nfsunbound.png);
  }
  main .topgames #Game4 {
    background-image: url(./../images/pacmangame.png);
  }
  main .smalltittle {
    display: flex;
    justify-content: center;
  }
  main .smalltittle .smalltittleh1 {
    font-size: 70px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  main .gamesection {
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: space-around;
  }
  main .gamesection .game {
    width: 150px;
    height: 250px;
    background-image: url(./../images/mariogamethumbnail.jpg);
    background-size: cover;
    transition: 0.5s;
  }
  main .gamesection .game:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  footer {
    display: flex;
    height: 250px;
    justify-content: space-around;
    align-items: center;
  }
  footer h1 {
    color: white;
    font-size: 35px;
    letter-spacing: 12px;
    text-shadow: 4px 4px 5px rgba(0, 11, 26, 0.6);
    font-weight: 100;
    text-align: center;
  }
  footer .line {
    width: 2px;
    height: 90px;
    background-color: white;
    box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
  }
}
@media screen and (min-device-width: 590px) and (max-device-width: 800px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    margin-left: 50px;
    display: flex;
    width: 156px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  .logo {
    margin-top: 155px;
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
  }
  .logo .logophoto {
    width: 400px;
    width: 35%;
  }
  main .tittle {
    display: flex;
    justify-content: center;
  }
  main .tittle .topratgmsTittle {
    font-size: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-bottom: 40px;
  }
  main .topgames {
    display: flex;
    justify-content: space-around;
    background-color: #1454dd;
    padding: 70px 0px;
    margin-bottom: 180px;
  }
  main .topgames .topratedgame {
    width: 150px;
    height: 250px;
    background-size: cover;
    transition: 0.5s;
  }
  main .topgames .topratedgame:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  main .topgames #Game1 {
    background-image: url(./../images/mariogamethumbnail.jpg);
  }
  main .topgames #Game2 {
    background-image: url(./../images/mariobrosgame3thumbnail.png);
  }
  main .topgames #Game3 {
    background-image: url(./../images/nfsunbound.png);
  }
  main .topgames #Game4 {
    background-image: url(./../images/pacmangame.png);
  }
  main .smalltittle {
    display: flex;
    justify-content: center;
  }
  main .smalltittle .smalltittleh1 {
    font-size: 70px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  main .gamesection {
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: space-around;
  }
  main .gamesection .game {
    width: 150px;
    height: 250px;
    background-image: url(./../images/mariogamethumbnail.jpg);
    background-size: cover;
    transition: 0.5s;
  }
  main .gamesection .game:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  main .gamesection #racingnone {
    display: none;
  }
  main .gamesection #actionnone {
    display: none;
  }
  main .gamesection #multiplayernone {
    display: none;
  }
  main .gamesection #sportnone {
    display: none;
  }
  footer {
    display: flex;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #1454dd;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  footer h1 {
    color: white;
    font-size: 45px;
    letter-spacing: 12px;
    text-shadow: 4px 4px 5px rgba(0, 11, 26, 0.6);
    font-weight: 100;
  }
  footer .line {
    display: none;
  }
}
@media screen and (min-device-width: 425px) and (max-device-width: 589px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    margin-left: 50px;
    display: flex;
    width: 156px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  .logo {
    margin-top: 155px;
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
  }
  .logo .logophoto {
    width: 400px;
    width: 35%;
  }
  main .tittle {
    display: flex;
    justify-content: center;
  }
  main .tittle .topratgmsTittle {
    font-size: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-bottom: 40px;
  }
  main .topgames {
    display: flex;
    justify-content: space-around;
    background-color: #1454dd;
    padding: 70px 0px;
    margin-bottom: 180px;
  }
  main .topgames .topratedgame {
    width: 130px;
    height: 230px;
    background-size: cover;
    transition: 0.5s;
  }
  main .topgames .topratedgame:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  main .topgames #Game1 {
    background-image: url(./../images/mariogamethumbnail.jpg);
  }
  main .topgames #Game2 {
    background-image: url(./../images/mariobrosgame3thumbnail.png);
  }
  main .topgames #Game3 {
    background-image: url(./../images/nfsunbound.png);
  }
  main .topgames #Game4 {
    display: none;
  }
  main .smalltittle {
    display: flex;
    justify-content: center;
  }
  main .smalltittle .smalltittleh1 {
    font-size: 70px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  main .gamesection {
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: space-around;
  }
  main .gamesection .game {
    width: 150px;
    height: 250px;
    background-image: url(./../images/mariogamethumbnail.jpg);
    background-size: cover;
    transition: 0.5s;
  }
  main .gamesection .game:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  main .gamesection #racingnone {
    display: none;
  }
  main .gamesection #actionnone {
    display: none;
  }
  main .gamesection #multiplayernone {
    display: none;
  }
  main .gamesection #sportnone {
    display: none;
  }
  footer {
    display: flex;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #1454dd;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  footer h1 {
    color: white;
    font-size: 45px;
    letter-spacing: 12px;
    text-shadow: 4px 4px 5px rgba(0, 11, 26, 0.6);
    font-weight: 100;
  }
  footer .line {
    display: none;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 424px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    margin-left: 50px;
    display: flex;
    width: 156px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  .logo {
    margin-top: 155px;
    display: flex;
    justify-content: center;
    margin-bottom: 240px;
  }
  .logo .logophoto {
    width: 400px;
    width: 35%;
  }
  main .tittle {
    display: flex;
    justify-content: center;
  }
  main .tittle .topratgmsTittle {
    font-size: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-bottom: 40px;
  }
  main .topgames {
    display: flex;
    justify-content: space-around;
    background-color: #1454dd;
    padding: 70px 0px;
    margin-bottom: 180px;
  }
  main .topgames .topratedgame {
    width: 130px;
    height: 230px;
    background-size: cover;
    transition: 0.5s;
  }
  main .topgames .topratedgame:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  main .topgames #Game1 {
    background-image: url(./../images/mariogamethumbnail.jpg);
  }
  main .topgames #Game2 {
    background-image: url(./../images/mariobrosgame3thumbnail.png);
  }
  main .topgames #Game3 {
    background-image: url(./../images/nfsunbound.png);
  }
  main .topgames #Game4 {
    display: none;
  }
  main .smalltittle {
    display: flex;
    justify-content: center;
  }
  main .smalltittle .smalltittleh1 {
    font-size: 70px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  main .gamesection {
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: space-around;
  }
  main .gamesection .game {
    width: 150px;
    height: 250px;
    background-image: url(./../images/mariogamethumbnail.jpg);
    background-size: cover;
    transition: 0.5s;
  }
  main .gamesection .game:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 0px 165px 4px rgba(255, 255, 255, 0.6);
  }
  main .gamesection #racingnone {
    display: none;
  }
  main .gamesection #actionnone {
    display: none;
  }
  main .gamesection #multiplayernone {
    display: none;
  }
  main .gamesection #sportnone {
    display: none;
  }
  footer {
    display: flex;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #1454dd;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  footer h1 {
    color: white;
    font-size: 45px;
    letter-spacing: 12px;
    text-shadow: 4px 4px 5px rgba(0, 11, 26, 0.6);
    font-weight: 100;
  }
  footer .line {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */