* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #010e54;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.backgroundgamescenefixed {
  position: fixed;
  top: 0;
  height: 1510px;
  width: 2914px;
  background-image: url(./../images/backgroundgamescenedivfixed.gif);
  z-index: -1;
  opacity: 20%;
}

.websitename {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 310px;
}
.websitename h1 {
  font-size: 290px;
  color: rgb(240, 244, 255);
  letter-spacing: 25px;
  font-weight: 100;
  text-shadow: 4px 4px 32px rgba(0, 8, 36, 0.76);
}

.topgamescenterthemdiv {
  display: flex;
  justify-content: center;
}
.topgamescenterthemdiv .topgames {
  width: 1700px;
  height: 700px;
  background-color: #1454dd;
  display: flex;
  align-items: center;
  padding-top: 50px;
  box-sizing: border-box;
  margin-bottom: 150px;
  flex-direction: column;
}
.topgamescenterthemdiv .topgames h1 {
  font-size: 90px;
  font-weight: 100;
  color: white;
  text-shadow: 4px 4px 16px rgba(0, 11, 26, 0.54);
  display: inline-block;
  margin-bottom: 50px;
}
.topgamescenterthemdiv .topgames .topratedgamesdivrow {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.topgamescenterthemdiv .topgames .topratedgamesdivrow #game1 {
  background-image: url(./../images/mariogamethumbnail.jpg);
  background-size: cover;
  width: 350px;
  height: 450px;
  border: white 3px solid;
  transition: 0.3s;
}
.topgamescenterthemdiv .topgames .topratedgamesdivrow #game1:hover {
  transform: scale(1.2);
}
.topgamescenterthemdiv .topgames .topratedgamesdivrow #game2 {
  background-image: url(./../images/pacmangame.png);
  background-size: cover;
  width: 350px;
  height: 450px;
  border: white 3px solid;
  transition: 0.3s;
}
.topgamescenterthemdiv .topgames .topratedgamesdivrow #game2:hover {
  transform: scale(1.2);
}
.topgamescenterthemdiv .topgames .topratedgamesdivrow #game3 {
  background-image: url(./../images/mariobrosgame3thumbnail.png);
  background-size: cover;
  width: 350px;
  height: 450px;
  border: white 3px solid;
  transition: 0.3s;
}
.topgamescenterthemdiv .topgames .topratedgamesdivrow #game3:hover {
  transform: scale(1.2);
}

main {
  display: flex;
  background-color: #050131;
  width: 1700px;
  height: 1800px;
  margin: 0px auto;
  margin-bottom: 150px;
  box-shadow: 10px 10px 206px 19px rgba(0, 8, 31, 0.56);
  -webkit-box-shadow: 10px 10px 206px 19px rgba(0, 8, 31, 0.56);
  -moz-box-shadow: 10px 10px 206px 19px rgba(0, 8, 31, 0.56);
}

.visitthese {
  display: flex;
  justify-content: space-around;
}
.visitthese .instagram {
  width: 350px;
  height: 350px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.visitthese .instagram h1 {
  color: white;
  font-weight: 100;
}
.visitthese .instagram h2 {
  color: rgb(241, 170, 255);
  font-weight: 10;
}
.visitthese .instagram img {
  width: 150px;
}
.visitthese .discord {
  width: 350px;
  height: 350px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.visitthese .discord h1 {
  color: white;
  font-weight: 100;
}
.visitthese .discord h2 {
  color: rgb(170, 204, 255);
  font-weight: 10;
}
.visitthese .discord img {
  width: 150px;
}

footer {
  display: flex;
  height: 250px;
  justify-content: space-around;
  align-items: center;
}
footer h1 {
  color: white;
  font-size: 45px;
  letter-spacing: 12px;
  text-shadow: 4px 4px 5px rgba(0, 11, 26, 0.6);
}
footer .line {
  width: 3px;
  height: 150px;
  background-color: white;
  box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 10px 74px 3px rgba(0, 0, 0, 0.57);
}/*# sourceMappingURL=style.css.map */