header {
        .headeritself {
            height: 150px;
            width: 100%;
            background-color: #1454dd;
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
                .Reglogdiv{
                display: flex;
                width: 0px;
                justify-content: space-between;
                    i {
                        display: none;
                        font-size: 50px;
                        color: white;
                    }
                
                    .reglog {
                      display: none;
                    }
                }

                .Menubar {
                    display: inline-block;
                    font-size: 50px;
                    color: white;
                }


                nav {
                display: none;
                justify-content: space-between;
                    a {
                    font-size: 40px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    text-shadow: 4px 4px 5px rgba(0,5,29,0.35);
                    transition: 0.3s;

                    &:hover {
                        color: rgb(255, 255, 255);
                        }
                    }

                    #onthispage {
                        color: rgb(0, 255, 255);
                    }
                 
                }
        }
    

}