header {
        .headeritself {
            height: 150px;
            width: 100%;
            background-color: #1454dd;
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
                .Reglogdiv{
                display: flex;
                width: 0px;
                justify-content: space-between;
                    i {
                        display: none;
                        font-size: 50px;
                        color: white;
                    }
                
                    .reglog {
                      display: none;
                    }
                }

                .Menubar {
                    display: inline-block;
                    font-size: 50px;
                    color: white;
                }


                nav {
                display: none;
                justify-content: space-between;
                    a {
                    font-size: 40px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    text-shadow: 4px 4px 5px rgba(0,5,29,0.35);
                    transition: 0.3s;

                    &:hover {
                        color: rgb(255, 255, 255);
                        }
                    }

                    #onthispage {
                        color: rgb(0, 255, 255);
                    }
                 
                }
        }
    

}



.flexcontactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    flex-wrap: wrap;
    margin-top: 190px;
        .contactusdetails {
            width: 80%;
            height: 250px;
            background-color: #1454dd;
            padding-top: 40px;
            box-sizing: border-box;
            flex-direction: column;
            border-radius: 10px;
                h1 {
                    text-align: center;
                    font-size: 25px;
                    color: white;
                    font-weight: 100;
                    margin-bottom: 15px;
                    letter-spacing: 1px;
                }
        }

        .contactusdetailsgamedev {
            width: 80%;
            height: 250px;
            background-color: #dd8d14;
            padding-top: 40px;
            box-sizing: border-box;
            flex-direction: column;
            margin-top: 20px;
            border-radius: 10px;
                h1 {
                    text-align: center;
                    font-size: 25px;
                    color: white;
                    font-weight: 100;
                    margin-bottom: 15px;
                    letter-spacing: 1px;
                }
        }
}