body {
    background-color: #010e54;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.backgroundgamescenefixed {
    position: fixed;
    top: 0;
    height: 940px;
    width: 1914px;
    background-image: url(./../images/backgroundgamescenediv.gif);
    z-index: -1;
    opacity: 10%;
}








.websitename {
    margin-top: 150px;
    display: flex;
    justify-content: center;
        h1 {
            font-size: 240px;
            color: white;
            letter-spacing: 15px;
            margin-left: 15px;
            font-weight: 100;
            text-shadow: 4px 4px 32px rgba(25,72,223,0.76);
        }
}


