body {
    background-color: #010e54;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.websitename {
    margin-top: 150px;
    display: flex;
    justify-content: center;
        h1 {
            font-size: 240px;
            color: white;
            letter-spacing: 15px;
            margin-left: 15px;
            font-weight: 100;
        }
}