@import "animations";

body {
    background-color: rgb(37, 42, 121);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: "weight";
    font-style: "normal";
    letter-spacing: 2px;
}

header {
    z-index: 50;
    position: fixed;
    display: flex;
    height: 250px;
        .headerbackgroundcolor {
        padding-top: 45px;
        height: 150px;
        width: 2800px;
        box-sizing: border-box;
        display: flex;
        background-color: #3138b3;
            nav {
            display: flex;
            justify-content: space-around;
            width: 1800px;
                div {
                    a {
                        text-decoration: none;
                        font-size: 34px;
                        color: rgb(174, 182, 255);
                        transition: 0.3s;

                        &:hover {
                            font-size: 50px;
                            color: white;
                        }
                    }
                }
            }

        }
}


main {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    .flexthemtogether{
    display: flex;
    flex-direction: column;
        .gametittleheader {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(244, 255, 88);
        width: 1400px;
        height: 130px;
        background-image: url(./../images/GenreHeadertittledivbanner.gif);
        background-size: contain;
        font-size: 30px;
        }
        .flexrowthem{
        display: flex;
        justify-content: space-around;
        z-index: 1;
        height: 430px;
        background-image: url(./../images/backgroundtile.gif);
        background-size: 10%;
            .gamecarddiv {
            margin-top: 50px;
            width: 270px;
            height: 320px;
            background-image: url(./../images/gamecarddiv.gif);
            background-size: 150%;
            transition: 0.3s;

            &:hover {
            transform: scale(1.2);
            }

            }


        }      
    }

}


.backgroundpixeldiv {
    display: flex;
    margin-top: 80px;
    height: 800px;
    background-image: url(./../images/backgroundpixeldiv.gif);
    background-size: contain;
    padding-top: 150px;
    margin-bottom: 300px;
    justify-content: center;
        #mario {
            display: flex;
            border-radius: 50px;
        }
        .description {
            width: 600px;
            height: 600px;
            background-image: url(./../images/gamecarddesc2.gif);
            background-size: contain;
        }
}

