body {
    background-color: #1f2146;
}

header {
    position: fixed;
    display: flex;
    height: 250px;
    .headerbackgroundcolor {
    padding: 20px;
    height: 150px;
    width: 2800px;
    box-sizing: border-box;
    display: flex;
    background-color: #3f44a7;
    }
}

#tbclogo {
    width: 210px;
}
