header {
        .headeritself {
            height: 150px;
            width: 100%;
            background-color: #1454dd;
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
                .Reglogdiv{
                margin-left: 50px;
                display: flex;
                width: 156px;
                justify-content: space-between;
                    i {
                        display: inline-block;
                        font-size: 50px;
                        color: white;
                    }
                
                    .reglog {
                      display: none;
                    }
                }


                nav {
                display: flex;
                width: 800px;
                justify-content: space-between;
                    a {
                    font-size: 40px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    text-shadow: 4px 4px 5px rgba(0,5,29,0.35);
                    transition: 0.3s;

                    &:hover {
                        color: rgb(255, 255, 255);
                        }
                    }

                    #onthispage {
                        color: rgb(0, 255, 255);
                    }
                 
                }
        }
    

}




main {
    .tittle{
    display: flex;
    justify-content: center;
        .topratgmsTittle {
            font-size: 90px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            text-shadow: 4px 4px 5px rgba(0,5,29,0.35);
            font-weight: 100;
            margin-bottom: 40px;
        }
    }
    .topgames{
        display: flex;
        justify-content: space-around;
        background-color: #1454dd;
        padding: 70px 0px;
        margin-bottom: 180px;
            .topratedgame {
            width: 200px;
            height: 300px;
            background-size: cover;
            transition: 0.5s;

            &:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 165px 4px rgba(255,255,255,0.6);
            -webkit-box-shadow: 0px 0px 165px 4px rgba(255,255,255,0.6);
            -moz-box-shadow: 0px 0px 165px 4px rgba(255,255,255,0.6);
            }

            }

            #Game1 {
                background-image: url(./../images/mariogamethumbnail.jpg);
            }
            #Game2 {
                background-image: url(./../images/mariobrosgame3thumbnail.png);
            }
            #Game3 {
                background-image: url(./../images/racinggame3replacement.png);
                background-position: center;
            }
            #Game4 {
                background-image: url(./../images/pacmangame.png);
            }
    }




    .smalltittle {
    display: flex;
    justify-content: center;
        .smalltittleh1 {
            font-size: 70px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            text-shadow: 4px 4px 5px rgba(0,5,29,0.35);
            font-weight: 100;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    .gamesection {
    margin-top: 10px;
    height: 500px;
    display: flex;
    justify-content: space-around;
        .game {
        width: 200px;
        height: 300px;
        background-image: url(./../images/mariogamethumbnail.jpg);
        background-size: cover;
        transition: 0.5s;

        &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 165px 4px rgba(255,255,255,0.6);
        -webkit-box-shadow: 0px 0px 165px 4px rgba(255,255,255,0.6);
        -moz-box-shadow: 0px 0px 165px 4px rgba(255,255,255,0.6);
        }
        
        }
    }
}