* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #010e54;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 80px;
}

.backgroundgamescenefixed {
  position: fixed;
  top: 0;
  height: 1665px;
  width: 100%;
  background-image: url(./../../images/backgroundgamescenedivfixed.gif);
  z-index: -1;
  opacity: 20%;
  background-size: contain;
}

header {
  display: flex;
  position: fixed;
  height: 380px;
  width: 100%;
  top: -280px;
  z-index: 2;
  transition: 0.7s;
}
header:hover {
  top: 0px;
  height: 150px;
}
header .headeritself {
  height: 150px;
  width: 100%;
  background-color: #1454dd;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  box-shadow: 0px 24px 17px 29px rgba(0, 7, 36, 0.69);
  -webkit-box-shadow: 0px 24px 17px 29px rgba(0, 7, 36, 0.69);
  -moz-box-shadow: 0px 24px 17px 29px rgba(0, 7, 36, 0.69);
}
header .headeritself .hlogo {
  display: flex;
  width: 90px;
  height: 82px;
  margin-top: 22px;
  transition: 0.5s;
}
header .headeritself .hlogo:hover {
  transform: scale(1.2);
}
header .headeritself .Reglogdiv {
  margin-left: 50px;
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-top: 40px;
}
header .headeritself .Reglogdiv i {
  display: none;
  transition: 0.5s;
}
header .headeritself .Reglogdiv i:hover {
  transform: scale(1.2);
}
header .headeritself .Reglogdiv .reglog {
  font-size: 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  transition: 0.3s;
}
header .headeritself .Reglogdiv .reglog:hover {
  transform: scale(1.2);
}
header .headeritself .Menubar {
  margin-top: 40px;
  display: none;
}
header .headeritself .Menubar:hover {
  transform: scale(1.2);
}
header .headeritself nav {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-top: 40px;
}
header .headeritself nav a {
  font-size: 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  transition: 0.3s;
}
header .headeritself nav a:hover {
  transform: scale(1.2);
}
header .headeritself nav #onthispage {
  color: rgb(0, 255, 255);
}

.hintforheaderhover {
  position: fixed;
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #001381;
  top: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  opacity: 50%;
}
.hintforheaderhover i {
  font-size: 50px !important;
  color: white !important;
}

.pagetittlediv {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.pagetittlediv .pagetittle {
  color: white;
  font-size: 150px;
  font-weight: 200;
}

.flexdescbox {
  display: flex;
  justify-content: center;
}
.flexdescbox .descbox {
  width: 93%;
  height: 400px;
  background-color: #1454dd;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.flexdescbox .descbox h1 {
  color: white;
  font-weight: 100;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.flexdescbox .descbox a {
  color: rgb(39, 255, 255);
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-device-width: 1225px) and (max-device-width: 1440px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    margin-left: 50px;
    display: flex;
    width: 156px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself nav {
    display: flex;
    width: 800px;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1224px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    margin-left: 50px;
    display: flex;
    width: 156px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
}
@media screen and (min-device-width: 590px) and (max-device-width: 800px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    margin-left: 50px;
    display: flex;
    width: 156px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  .pagetittlediv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .pagetittlediv .pagetittle {
    color: white;
    font-size: 120px;
    font-weight: 200;
  }
  .flexdescbox {
    display: flex;
    justify-content: center;
  }
  .flexdescbox .descbox {
    width: 93%;
    height: 400px;
    background-color: #1454dd;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .flexdescbox .descbox h1 {
    color: white;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 20px;
  }
  .flexdescbox .descbox a {
    color: rgb(39, 255, 255);
    font-weight: 100;
    text-align: center;
    text-decoration: none;
  }
}
@media screen and (min-device-width: 465px) and (max-device-width: 589px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    display: flex;
    width: 0px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  .pagetittlediv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .pagetittlediv .pagetittle {
    color: white;
    font-size: 90px;
    font-weight: 200;
  }
  .flexdescbox {
    display: flex;
    justify-content: center;
  }
  .flexdescbox .descbox {
    width: 92%;
    height: 400px;
    background-color: #1454dd;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .flexdescbox .descbox h1 {
    color: white;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 18px;
  }
  .flexdescbox .descbox a {
    color: rgb(39, 255, 255);
    font-weight: 100;
    text-align: center;
    text-decoration: none;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 464px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    display: flex;
    width: 0px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  .pagetittlediv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .pagetittlediv .pagetittle {
    color: white;
    font-size: 50px;
    font-weight: 200;
  }
  .flexdescbox {
    display: flex;
    justify-content: center;
  }
  .flexdescbox .descbox {
    width: 92%;
    height: 300px;
    background-color: #1454dd;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .flexdescbox .descbox h1 {
    color: white;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 17px;
  }
  .flexdescbox .descbox a {
    color: rgb(39, 255, 255);
    font-weight: 100;
    text-align: center;
    text-decoration: none;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 374px) {
  header .headeritself {
    height: 150px;
    width: 100%;
    background-color: #1454dd;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  header .headeritself .Reglogdiv {
    display: flex;
    width: 0px;
    justify-content: space-between;
  }
  header .headeritself .Reglogdiv i {
    display: none;
    font-size: 50px;
    color: white;
  }
  header .headeritself .Reglogdiv .reglog {
    display: none;
  }
  header .headeritself .Menubar {
    display: inline-block;
    font-size: 50px;
    color: white;
  }
  header .headeritself nav {
    display: none;
    justify-content: space-between;
  }
  header .headeritself nav a {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgba(0, 5, 29, 0.35);
    transition: 0.3s;
  }
  header .headeritself nav a:hover {
    color: rgb(255, 255, 255);
  }
  header .headeritself nav #onthispage {
    color: rgb(0, 255, 255);
  }
  .pagetittlediv {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .pagetittlediv .pagetittle {
    color: white;
    font-size: 50px;
    font-weight: 200;
  }
  .flexdescbox {
    display: flex;
    justify-content: center;
  }
  .flexdescbox .descbox {
    width: 92%;
    height: 300px;
    background-color: #1454dd;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .flexdescbox .descbox h1 {
    color: white;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 17px;
  }
  .flexdescbox .descbox a {
    color: rgb(39, 255, 255);
    font-weight: 100;
    text-align: center;
    text-decoration: none;
  }
}/*# sourceMappingURL=style.css.map */